/* Global styles */
body {
    background-color: #FDFDF8;
    font-family: 'Inconsolata', sans-serif;
    color: var(--switch-slide-fill, #000);
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: -2px;
    margin: 0px;
}

a {
    text-decoration: none;
    color: black;
}

/* Navigation styles */
nav {
    display: flex;
    position: sticky;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid black;
    top: 0;
    padding: 0;
    margin: 0; 
    background-color: #FDFDF8;
    z-index: 1000;
}

h1 {
    color: var(--switch-slide-fill, #000);
    font-family: Inconsolata;
    font-size: 2em;
    font-style: normal;
    font-weight: bold;
    line-height: 22px; /* 55% */
    letter-spacing: -2px;
}

ul{
    padding-left: 0;
    padding-right: 100px; /* I made this kind of big to push the scroll spy items to their own lines.  It keeps trying to shove two options into the same line and I don't like that. */
}

li {
    padding-left: 0px;
    padding-right:0px;
    padding-bottom: 0px;
    line-height: normal;
    display: inline-block;
    letter-spacing: normal;
}

a {
    padding-left: 16px;
    padding-right:0px;
    padding-bottom: 0px;
    /* line-height: normal; */
    display: inline-block;
    letter-spacing: normal;
}

 .active {
    border-bottom: 1px solid black; 
} 

li:active{
    border-bottom: 1px solid black;
}
li:hover{
    border-bottom: 1px solid black;
    font-weight: 800;
}
.nav-logo {
    display:flex;
    flex-basis: 232px;
    padding-left: 16px;
}

.nav-item.logo {
    font-size: 32px;
    font-weight: 700;
}

.nav-group {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    flex-grow: 1;  /* Allows it to grow and center the items between the larger left and right nav items */
}

.nav-contact {
    display: flex;
    align-items: right;
    justify-content: right;
    flex-basis:232px;
    padding-right: 16px;
}

.nav-item {
    font-size: 24px;
    padding: 0;
    transition: background-color 0.3s, color 0.3s;
}

.nav-item:hover{
    background-color: black;
    color: #FDFDF8;
}




/* Home page styles */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    height: calc(100vh - 46px); /* 100% of the viewport height minus the height of the nav */
}

.intro-text {
    font-size: 40px;
    text-align: left; 
}

.portrait {
    max-width: 400px; 
    height: auto;
    display: block;
}



/* View-Work Jumping page styles */
.view-work-container {
    display: flex;
    height: calc(100vh - 49px); /* Adjusted for the nav bar height, including its border */
    width: 100vw;
    margin: 0;
    padding: 0;
}

.work-button {
    flex-grow: 1; /* Ensures each button grows equally to take up the full width */
    flex-basis: 0; /* Start with 0 width, then grow equally */
    background-color: #FDFDF8;
    display: flex;
    justify-content: center; /* Horizontally center the text */
    align-items: center; /* Vertically center the text */
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.15s;
    text-align: center; /* Ensures the text is centered */
}

.work-button:hover {
    background-color: black;
    color: #FDFDF8;
}

.work-button:not(:last-child) {
    border-right: 3px solid black;
}

/* View Experience Page Styles */ 
.wrapper {
    display: flex;
}

/* Back button for the view experience pages */ 
#backButton {
    position: sticky;
    margin-top: 16px;
    left: 16px;
    background-color: #FDFDF8;  /* You can choose any color */
    border: 2px solid #000;  /* Adjust border as needed */
    padding: 10px 20px;      /* Adjust padding as needed */
    font-size: 16px;         /* Adjust font size as needed */
    cursor: pointer;
    z-index: 10;             /* Ensures the button is above other elements but under the nav */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

#backButton:hover {
    background-color: #000; /* Change color on hover */
    color: #FDFDF8;            /* Change text color on hover */
}

p {
    letter-spacing: normal;
}

.view-web, .view-mobile, .view-design, .about-me{
    max-width: 60vw;
    margin-left: auto;
    margin-right: auto;
}





.sidebar {
    position: fixed;      /* Makes it sticky */
    top: 40px;             /* Offsets from the top by the height of the top navigation */
    height: 100vh;         /* Takes the full height of the viewport */
    width: 20vw;           /* Takes 20% of the viewport's width */
    left: 0;               /* Aligns it to the left of its containing element */
    overflow-y: auto;      /* Adds scroll if content overflows vertically */
    /*background-color: #f9f9f9; /* Optional: A light background color for visual differentiation */
    /*border-right: 1px solid #ccc;  /*Optional: A border to separate it from the content */
    /*padding: 1rem;         /* Optional: Some spacing inside the sidebar */
}

.example-image {
    width: 100%;  /* fill the container horizontally */
    height: auto; /* adjust height automatically based on the width while maintaining the aspect ratio */
    display: block; /* to remove any default space below the image */
    margin: 0 auto; /* this will center the image if its container is wider than the image's intrinsic width */
    box-shadow: 0px 2px 4px 0px rgba(157, 157, 157, 0.25);
}
.example-gif {
    height: 700px;
    display: block; /* to remove any default space below the image */
    margin: 0 auto; /* this will center the image if its container is wider than the image's intrinsic width */
    box-shadow: 0px 2px 4px 0px rgba(157, 157, 157, 0.25);
}
/* Modal styles */
.modal {
    display: none; /* Initially hidden */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7); /* Black background with opacity */
    z-index: 1;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #FDFDF8;
    border: 1px solid black;
    width: 80%;
    max-width: 500px;
    letter-spacing: normal; /* kills the -2 letter spacing that is going on everywhere else.  */ 
}

/* Style the links within the modal */
.modal-content a {
    color: darkblue; /* Setting the color to dark blue */
    text-decoration: underline; /* Adding an underline to the links */
}

.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: #FDFDF8;
}



/* About Me Page styles. */
.about-container {
    text-align: center;
    max-width: 90%;
    margin: 0 auto;
    padding-top: 30px;
}

.about-text {
    text-align: left;
    /*max-width: 70%;*/
    margin: 0 auto;
    padding-top: 30px;
}

.portrait2 {
    width: auto;
    max-height: 600px;
    display: block; /*What does this do?*/
    margin-bottom: 20px;   
    margin-left: auto;
    margin-right: auto;
}

